<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
    <head>
       <meta content="text/html;charset=UTF-8">
       <script type="text/javascript" src="/js/jquery.min.js"></script>
		<link href="/css/default.css" rel="stylesheet"/>
		<link href="/css/bootstrap.min.css" rel="stylesheet"/>
		<link href="/css/bootstrap-theme.min.css" rel="stylesheet"/>
		<link href="/css/default.css" rel="stylesheet"/>
        <link rel="icon" href="/image/favicon.ico" type="image/x-icon"/>
       
        <title>人员管理</title>
        <style type="text/css">
        .btn_search{
		  display: inline-block;
		  padding: 9px 20px;
		  font-size: 14px;
		  cursor: pointer;
		  text-align: center;   
		  text-decoration: none;
		  outline: none;
		  color: #fff;
		  background-color: #3385FF;
		  border: none;
		  border-radius: 15px;
		  box-shadow: 0 3px #999;
		
		}
		    </style> 
    </head>

    <body>
    <div  class="container" style="text-align: center;">
			<h1>人员管理</h1>
	</div>
        <div class="contentDiv">

            <legend>
                <strong>>>人员编辑</strong>
            </legend>

            <form action="/analysis/admin/updateEmployee"  method="post" class="form-horizontal">

                <input type="hidden" name="id" th:value="${employee.id}"/>

                <div class="form-group">
                    <label  class="col-sm-2 control-label">名称:</label>
                    <div class="col-xs-4">
                        <input type="text" class="form-control"  name="emp_name" th:value="${employee.emp_name}" th:field="*{employee.emp_name}" />
                    </div>
 				</div>
 				<div class="form-group">
                    <label  class="col-sm-2 control-label">密码:</label>
                    <div class="col-xs-4">
                        <input type="text" class="form-control"  name="emp_password" th:value="${employee.emp_password}" th:field="*{employee.emp_password}" />
                    </div>
 				</div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input class="btn_search" type="submit" value="确认修改"/>&nbsp;&nbsp;
                        <input class="btn_search" type="button" value="返回" onclick="history.back()"/>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>