<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
    <head>
       <meta content="text/html;charset=UTF-8">
       <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
		<link th:href="@{/css/default.css}" rel="stylesheet"/>
		<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
		<link th:href="@{/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
		<link th:href="@{/css/default.css}" rel="stylesheet"/>
        <link rel="icon" th:href="@{/image/favicon.ico}" type="image/x-icon"/>
       
        <title>金重区间管理</title>
        <style type="text/css">
        .btn_search{
		  display: inline-block;
		  padding: 9px 20px;
		  font-size: 14px;
		  cursor: pointer;
		  text-align: center;   
		  text-decoration: none;
		  outline: none;
		  color: #fff;
		  background-color: #3385FF;
		  border: none;
		  border-radius: 15px;
		  box-shadow: 0 3px #999;
		
		}
		    </style> 
    </head>

    <body>
    <div  class="container" style="text-align: center;">
			<h1>金重区间管理</h1>
	</div>
        <div class="contentDiv">

            <legend>
                <strong>>>金重区间编辑</strong>
            </legend>

            <form th:action="@{/analysis/admin/updateGoldWeight}"  method="post" class="form-horizontal">

                <input type="hidden" name="goldWeight_ID" th:value="${goldWeight.goldWeight_ID}"/>

                <div class="form-group">
                    <label  class="col-sm-2 control-label">区间上限:</label>
                    <div class="col-xs-4">
                        <input type="text" class="form-control"  name="goldWeight_start" th:value="${goldWeight.goldWeight_start}" th:field="*{goldWeight.goldWeight_start}" />
                    </div>
 				</div>
 				 <div class="form-group">
                    <label  class="col-sm-2 control-label">区间下限:</label>
                    <div class="col-xs-4">
                        <input type="text" class="form-control"  name="goldWeight_end" th:value="${goldWeight.goldWeight_end}" th:field="*{goldWeight.goldWeight_end}" />
                    </div>
 				</div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input class="btn_search" type="submit" value="提交"/>&nbsp;&nbsp;
                        <input class="btn_search" type="button" value="返回" onclick="history.back()"/>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>