.input-group.col-lg-4 {
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}

.col-md-2.column.input-group {
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}

.col-md-4.column.input-group {
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}

.input-group.col-lg-2 {
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}

.input-group.col-lg-2.ajax {
	float: left;
	margin-left: 100px;
	margin-top: 10px;
}

.input-group-addon {
	background-color: #4169E1;
	width: 100px;
	text-align: center;
	color: white;
}

.white_content {
	display: none;
	position: absolute;
	top: 10%;
	width: 70%;
	height: 100%;
	border: 16px solid lightblue;
	background-color: white;
	z-index: 1002;
	overflow: auto;
}

.com1 {
	height: 60px;
	border-radius: 20px 20px 0px 0px;
	background-color: cornflowerblue;
	text-align: center;
	font-family: "ו";
	font-size: 40px;
}

.box {
	margin-left: 1000px;
	position: relative;
	width: 200px;
	height: 100px;
	line-height: 50px;
	background-color: #DB524C;
	color: #fff;
	text-align: center;
	z-index: 100;
}

.input {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	opacity: 0;
	z-index: -1;
}

.head {
	background-color: #C0C0C0;
	text-align: center;
	height: 50px;
	font-family: "ו";
	font-size: 40px;
	font-style: oblique;
}

.show {
	z-index: -1;
}
.btn{
color:white;
}


table tr:nth-child(2n+3){  
    background-color:#E5E5E5;  
}  
table tr:nth-child(2n+2){  
    background-color:#D0D0D0;  
}

.btn_edit{
  display: inline-block;
  padding: 9px 20px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;   
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 3px #999;

}
.btn_edit:hover {background-color: #3e8e41}

.btn_edit:active {
  background-color: #3e8e41;
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}

.btn_delete{
  display: inline-block;
  padding: 9px 20px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;   
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #FF0000;
  border: none;
  border-radius: 15px;
  box-shadow: 0 3px #999;

}
.btn_delete:hover {background-color: #B00000}

.btn_delete:active {
  background-color: #B00000;
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}

.btn_search{
  display: inline-block;
  padding: 9px 20px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;   
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #3385FF;
  border: none;
  border-radius: 15px;
  box-shadow: 0 3px #999;

}
.btn_search:hover {background-color: #3366FF}

.btn_search:active {
  background-color: #3366FF;
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}
.btn_title_1{
  display: inline-block;
  padding: 9px 20px;
  font-size: 14px;
  width:40px;
  height:40px;
  cursor: pointer;
  text-align: center;   
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #3385FF;
  border: none;
  border-radius: 15px;
  box-shadow: 0 3px #999;

}

.btn_submit{
  display: inline-block;
  height:60px;
  width:150px;
  padding: 1px 2px;
  font-size:24px;
  cursor: pointer;
  text-align: center;   
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #008287;
  border: none;
  border-radius: 4px;
  box-shadow: 0 1px #999;
}

.btn_back{
  display: inline-block;
  padding: 9px 20px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;   
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #505050;
  border: none;
  border-radius: 15px;
  box-shadow: 0 1px #999;

}
.btn_stone{
width: 300px;
height: 100px;
font-size: 50px;
color: white;
background-color: #700000;
border-radius:15px;
}
.file-wrap {  
    position: relative;  
    width: 300px;  
    height: 100px;  
    border-radius: 15px;  
    background-color: #700000;  
    background-repeat: no-repeat;  
    background-position: 0 0;  
    background-attachment: scroll;  
      
    text-align: center;  
    font-size: 50px;  
    color: white;  
    cursor: pointer;  
    overflow: hidden;  
    float: left;  
    margin-right: 20px;  
    z-index: 1;  
}  
  
    .file-wrap input {  
        position: absolute;  
        width: 300px;  
        height: 100px;  
        font-size: 0;  
        opacity: 0;  
        -moz-opacity: 0;  
        left: 0px;  
        top: 0px;  
        cursor: pointer;  
        z-index: 2;  
    }  

.space{
height: 40px;
}
table tr:hover{
	background-color: grey;
}
.col-md-4{
text-align: center;
font-size: 26px;
color: #7A998A;
}
.col-md-2{
padding-top:5px;
text-align: center;
font-size: 20px;
color: white;
}
.as{
color: red;
}

.hide_column{
   display: none;
}
th{
text-align: center;
}
td{
text-align: center;
}