<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta content="text/html;charset=UTF-8">
	<script type="text/javascript" src="/js/jquery.min.js"></script>

	<link th:href="@{/bootstrap/css/bootstrap.min.css?v=3.3.7}" rel="stylesheet"/>
	<link th:href="@{/bootstrap/css/bootstrap-theme.min.css?v=3.3.7}" rel="stylesheet"/>
	<link th:href="@{/css/default.css}" rel="stylesheet"/>
   
<title>后台登录</title>
<style type="text/css">
.loginDiv {
position: absolute;

z-index:20;
margin-top: 320px;
margin-left:400px;
width : 1200px;

}
input {
background-color: transparent;
}
.code 
{
 font-family:Arial;
 font-style:italic;
 color:#3366FF;
 font-size:30px;
 border:0;
 padding:2px 273px;
 letter-spacing:5px;
 font-weight:bolder;
 float:left;
 cursor:pointer;
 width:80px;
 height:30px;
 line-height:30px;
 text-align:center;
 vertical-align:middle;
}
a 
{
 text-decoration:none;
 font-size:17px;
 color:#288bc4;
}
a:hover 
{
 text-decoration:underline;
}

.col-sm-2.control-label{
color: white;
}

.btn_search{
  display: inline-block;
  padding: 1px 2px;
  height:40px;
  width:150px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;   
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #3266FF;
  border-radius: 16px;
 

}
.btn_search:hover {background-color: #3366FF}

.btn_search:active {
  background-color: #3366FF;
  transform: translateY(4px);
}


html,body {
    font-size: 14px;
    font-family: "微软雅黑", Helvetica, Tahoma, Arial, sans-serif;
    color: #000;
    background-color: #30333F;
    margin: 0;
    padding: 0;
}
img {
    border: 0;
}
.cf:before,.cf:after {
    display: table;
    content: "";
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
canvas{
position: fixed;
    top: 0px;
}
.trans{
	background-color: transparent;	
	color:#5FBAF9;
}


</style>
<script type="text/javascript">


var code;
function createCode() 
{
 code = "";
 var codeLength = 4; //验证码的长度
 var checkCode = document.getElementById("checkCode");
 var codeChars = new Array( 1, 2, 3, 4, 5, 6, 7, 8, 9, 
      'a','b','c','d','e','f','g','h','i','j','k','l','m','n','p','q','r','s','t','u','v','w','x','y','z',
      'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'); //所有候选组成验证码的字符，当然也可以用中文的
 for(var i = 0; i < codeLength; i++) 
 {
  var charNum = Math.floor(Math.random() * 50);
  code += codeChars[charNum];
 }
 if(checkCode) 
 {
  checkCode.className = "code";
  checkCode.innerHTML = code;
 }
}
 

</script>

<script type="text/javascript">
function login(){
	if(form1.user_name.value==""){
	alert("请填写用户名");
	return false;
}
	if(form1.user_password.value==""){
		alert("请填写密码");	
		return false;
	}
	var inputCode=document.getElementById("inputCode").value;
	 if(inputCode.length <= 0) 
	 {
	  alert("请输入验证码！");
	  return false;
	 }
	 else if(inputCode.toUpperCase() != code.toUpperCase()) 
	 {
	   alert("验证码输入有误！");
	   createCode();
	   return false;
	 }
	 else 
	 {
	  //alert("验证码正确！");
	 } 
}

</script>
</head>
<body onload="createCode()"  >
 <canvas width="1293" height="717"></canvas>
 
 <div class="loginDiv" >
 		<form th:action="@{/doLogin}" method="post" class="form-horizontal" id="form1" runat="server" onsubmit="return login()">
	
                <div class="form-group">
                    <label for="user_name" class="col-sm-2 control-label">用户名:</label>
                    <div class="col-xs-4">
                        <input type="text" class="form-control trans" id="user_name" name="user_name" placeholder="请在此输入用户名" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="user_password" class="col-sm-2 control-label">密     码:</label>
                    <div class="col-xs-4">
                        <input type="password" class="form-control trans" id="user_password" name="user_password" placeholder="请在此输入密码" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="user_type" class="col-sm-2 control-label">权限等级:</label>
                    <div class="col-xs-4">
                    	<select class="form-control trans" name="user_role">
                    		<option class="trans" value=0>系统管理员</option>
                    		<option class="trans" value=1>管理者</option>
                    		<option class="trans" value=2>成品A操作员</option>
                    		<option class="trans" value=3>石头管理员</option>
                    		<option class="trans"  value=4>成品B管理员</option>
                    		<option class="trans" value=5>厂家管理员</option>
                    	</select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="code" id="checkCode" onclick="createCode()" ></div>
                    <a href="#" onclick="createCode()">看不清换一张</a>
                </div>
                <div class="form-group">
                    <label for="employee_name" class="col-sm-2 control-label">验证码:</label>
                    <div class="col-xs-4">
                        <input type="text" class="form-control trans" id="inputCode" name="code"  placeholder="请在此输入验证码" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input class="btn_search " type="submit" value="登录"/>
                    </div>
                </div>
           </form>
 	
</div>
 <div class="container"> 
	<h3 th:text="${msg==null}?'':${msg}" style="text-align:center;color:red;"></h3>
</div>

<script type="text/javascript">

/**
 * Created by Administrator on 2016/6/29.
 */
    var canvas = document.querySelector('canvas'),
        ctx = canvas.getContext('2d')
        canvas.width = window.innerWidth;
        canvas.height = window.innerHeight;

        ctx.lineWidth = .3;
        ctx.strokeStyle = (new Color(150)).style;
    var mousePosition = {
        x: 30 * canvas.width / 100,
        y: 30 * canvas.height / 100
    };
    var dots = {
        nb: 750,
        distance: 50,
        d_radius: 100,
        array: []
    };
    function colorValue(min) {
        return Math.floor(Math.random() * 255 + min);
    }
    function createColorStyle(r,g,b) {
        return 'rgba(' + r + ',' + g + ',' + b + ', 0.8)';
    }
    function mixComponents(comp1, weight1, comp2, weight2) {
        return (comp1 * weight1 + comp2 * weight2) / (weight1 + weight2);
    }
    function averageColorStyles(dot1, dot2) {
        var color1 = dot1.color,
            color2 = dot2.color;

        var r = mixComponents(color1.r, dot1.radius, color2.r, dot2.radius),
            g = mixComponents(color1.g, dot1.radius, color2.g, dot2.radius),
            b = mixComponents(color1.b, dot1.radius, color2.b, dot2.radius);
        return createColorStyle(Math.floor(r), Math.floor(g), Math.floor(b));
    }

    function Color(min) {
        min = min || 0;
        this.r = colorValue(min);
        this.g = colorValue(min);
        this.b = colorValue(min);
        this.style = createColorStyle(this.r, this.g, this.b);
    }

    function Dot(){
        this.x = Math.random() * canvas.width;
        this.y = Math.random() * canvas.height;

        this.vx = -.5 + Math.random();
        this.vy = -.5 + Math.random();

        this.radius = Math.random() * 2;

        this.color = new Color();
    }

    Dot.prototype = {
        draw: function(){
            ctx.beginPath();
            ctx.fillStyle = this.color.style;
            ctx.arc(this.x, this.y, this.radius, 0, Math.PI * 2, false);
            ctx.fill();
        }
    };

    function createDots(){
        for(i = 0; i < dots.nb; i++){
            dots.array.push(new Dot());
        }
    }

    function moveDots() {
        for(i = 0; i < dots.nb; i++){

            var dot = dots.array[i];

            if(dot.y < 0 || dot.y > canvas.height){
                dot.vx = dot.vx;
                dot.vy = - dot.vy;
            }
            else if(dot.x < 0 || dot.x > canvas.width){
                dot.vx = - dot.vx;
                dot.vy = dot.vy;
            }
            dot.x += dot.vx;
            dot.y += dot.vy;
        }
    }

    function connectDots(){
        for(i = 0; i < dots.nb; i++){
            for(j = i; j < dots.nb; j++){
                i_dot = dots.array[i];
                j_dot = dots.array[j];

                if((i_dot.x - j_dot.x) < dots.distance && (i_dot.y - j_dot.y) < dots.distance && (i_dot.x - j_dot.x) > - dots.distance && (i_dot.y - j_dot.y) > - dots.distance){
                    if((i_dot.x - mousePosition.x) < dots.d_radius && (i_dot.y - mousePosition.y) < dots.d_radius && (i_dot.x - mousePosition.x) > - dots.d_radius && (i_dot.y - mousePosition.y) > - dots.d_radius){
                        ctx.beginPath();
                        ctx.strokeStyle = averageColorStyles(i_dot, j_dot);
                        ctx.moveTo(i_dot.x, i_dot.y);
                        ctx.lineTo(j_dot.x, j_dot.y);
                        ctx.stroke();
                        ctx.closePath();
                    }
                }
            }
        }
    }

    function drawDots() {
        for(i = 0; i < dots.nb; i++){
            var dot = dots.array[i];
            dot.draw();
        }
    }

    function animateDots() {
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        moveDots();
        connectDots();
        drawDots();
        requestAnimationFrame(animateDots);
    }
    document.querySelector('canvas').addEventListener('mousemove',function(e){
         mousePosition.x = e.pageX;
        mousePosition.y = e.pageY;
    })

    document.querySelector('canvas').addEventListener('mouseleave',function(e){
    mousePosition.x = canvas.width / 2;
        mousePosition.y = canvas.height / 2;
    })

    createDots();
    requestAnimationFrame(animateDots);

</script>

</body>
</html>
