<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace ="com.nenu.dao.SupplierDao">
	<!-- 结果映射 -->  
	<resultMap id="supplierMap" type="com.nenu.domain.Supplier">
	        <id property="supplier_ID" column="supplier_ID"/>
	        <result property="supplier_name" column="supplier_name"/>

	        
	
	 </resultMap>
	<parameterMap type="com.nenu.domain.Supplier" id="Supplier"></parameterMap>
	
	<select id="findSupplierById"   resultMap="supplierMap" parameterType="java.lang.Integer" >
		select * from tb_supplier where supplier_ID=#{supplier_ID} 
	</select>
	
	<select id="findAllSupplier"   resultMap="supplierMap">
		select * from tb_supplier
	</select>
	<insert id="insertSupplier" parameterMap="Supplier" useGeneratedKeys="true" keyProperty="id">
		insert into
		tb_supplier(supplier_ID,supplier_name)
		values 
		(#{supplier_ID},#{supplier_name})
	</insert>
	
	<update id="updateSupplier" parameterMap="Supplier">
		update
		tb_supplier
		set
		<if test="supplier_name!=null">
			supplier_name = #{supplier_name}
		</if>		
		where 
		supplier_ID=#{supplier_ID}
	</update>
	
	<delete id="deleteSupplier" parameterType="java.lang.Integer">
		delete from
		tb_supplier
		where
		supplier_id=#{supplier_id}
	</delete>

	<select id="findDistinctSupplierName"  resultMap="supplierMap">
        select DISTINCT supplier_name from tb_supplier where supplier_name != '' ORDER BY convert(supplier_name using gbk) asc
    </select>

</mapper>